* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(160, 160, 160);
}

.main-container {
    width: 30rem;
    margin: auto;
    margin-top: 5rem;
}

.top {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-evenly;
}

select {
    width: 10rem;
    height: 1.5rem;
    font-size: 0.8rem;
}

button {
    width: 4rem;
    height: 1.5rem;
    font-size: 0.8rem;
    border: none;
    border-radius: 10px;
}

.container ul {
    width: 25rem;
    margin: auto;
    display: grid;
    row-gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
}

.container ul li {
    list-style: none;
    width: 10rem;
    height: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(131, 4, 235);
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.category {
    color: rgb(162, 155, 255);
}