.container{
    background: lightblue;
    width:30rem;
    height: 30rem;
    margin: auto;
    display: grid;
    align-items: center;
    justify-content: center;
}

p{
    font-size: 3rem;
    color: white;
}

select, input {
    font-size: 2rem;
    height: 5rem;
    width:10rem;
}